/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;

/*-- scss:rules --*/

.render-commit-push {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #5D737E;
  border-bottom: 1px solid #5D737E;
  background-image: url("img/render-commit-push.png");
  background-size: 2em;
  background-position: 0.5em 0.5em;
}

.pull {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #c57644;
  border-bottom: 1px solid #c57644;
  background-image: url("img/pull.png");
  background-size: 1em;
  background-position: 1em 0.5em;
}


.sidebar-navigation .quarto-navigation-tool {
  color: #FFFFFF;
}

.quarto-color-scheme-toggle:not(.alternate) .bi::before {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgba(255, 255, 255, 1)" class="bi bi-toggle-off" viewBox="0 0 16 16"><path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/></svg>') !important;
}

#teaching-assistants .listing-image img {
  position: relative; 
  width: 80px; 
  height: 80px !important; 
  overflow: hidden; 
  border-radius: 50%;
}

.circular-portrait-mary { 
  position: relative; 
  width: 120px; 
  height: 120px; 
  overflow: hidden; 
  border-radius: 50%;
} 

.circular-portrait-mine { 
  position: relative; 
  width: 200px; 
  height: 200px; 
  overflow: hidden; 
  border-radius: 50%;
} 

.circular-portrait img { 
  width: 100%; height: auto; 
}

div.sourceCode pre.sourceCode {
  background-color: #e9e9e9;
}